name: Download

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  wait:
    runs-on: ubuntu-latest
    steps:
      - name: Wait
        run: sleep 60
  download-latest:
    runs-on: ubuntu-latest
    needs: wait
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download
        uses: ./
        with:
          workflow: upload.yml
          name: artifact
          path: artifact
      - name: Test
        run: cat artifact/sha | grep $GITHUB_SHA
  download-branch:
    runs-on: ubuntu-latest
    needs: wait
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download
        uses: ./
        with:
          workflow: upload.yml
          name: artifact
          path: artifact
          branch: master
      - name: Test
        run: cat artifact/sha | grep $GITHUB_SHA
  download-run_id:
    runs-on: ubuntu-latest
    needs: wait
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download
        uses: ./
        with:
          workflow: upload.yml
          name: artifact
          path: artifact
          run_id: 517585451
      - name: Test
        run: cat artifact/sha | grep d1d818113b801dedb53c5e863ba56b108efaacd0
  download-multiple:
    runs-on: ubuntu-latest
    needs: wait
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download
        uses: ./
        with:
          workflow: upload.yml
      - name: Test
        run: |
          cat artifact1/sha1 | grep $GITHUB_SHA
          cat artifact2/sha2 | grep $GITHUB_SHA
  download-conclusion:
    runs-on: ubuntu-latest
    needs: wait
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download
        uses: ./
        with:
          workflow: upload.yml
          name: artifact
          path: artifact
          workflow_conclusion: success
      - name: Test
        run: cat artifact/sha | grep $GITHUB_SHA
