name: Download

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  wait:
    runs-on: ubuntu-latest
    steps:
      - name: Wait
        run: sleep 60
  download-latest:
    runs-on: ubuntu-latest
    needs: wait
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download
        uses: ./
        with:
          workflow: upload.yml
          name: artifact
          path: artifact
      - name: Test
        run: cat artifact/sha | grep $GITHUB_SHA
  download-branch:
    runs-on: ubuntu-latest
    needs: wait
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download
        uses: ./
        with:
          workflow: upload.yml
          name: artifact
          path: artifact
          branch: master
      - name: Test
        run: cat artifact/sha | grep $GITHUB_SHA
  download-pr:
    runs-on: ubuntu-latest
    needs: wait
    if: github.ref != 'refs/heads/master'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download
        uses: ./
        with:
          workflow: upload.yml
          name: artifact
          path: artifact
          pr: ${{github.event.pull_request.number}}
      - name: Test
        run: cat artifact/sha | grep $GITHUB_SHA
  download-multiple:
    runs-on: ubuntu-latest
    needs: wait
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download
        uses: ./
        with:
          workflow: upload.yml
      - name: Test
        run: |
          cat artifact1/sha1 | grep $GITHUB_SHA
          cat artifact2/sha2 | grep $GITHUB_SHA
  download-conclusion:
    runs-on: ubuntu-latest
    needs: wait
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download
        uses: ./
        with:
          workflow: upload.yml
          name: artifact
          path: artifact
          workflow_conclusion: ''
      - name: Test
        run: cat artifact/sha | grep $GITHUB_SHA
  download-skip-unpack:
    runs-on: ubuntu-latest
    needs: wait
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download
        uses: ./
        with:
          workflow: upload.yml
          name: artifact
          path: artifact
          workflow_conclusion: ''
          skip_unpack: true
      - name: Test
        run: |
          test -f artifact.zip
          ! test -d artifact
          unzip -l artifact.zip
  download-multiple-skip-unpack:
    runs-on: ubuntu-latest
    needs: wait
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download
        uses: ./
        with:
          workflow: upload.yml
          skip_unpack: true
      - name: Test
        run: |
          if [[ `echo $(ls *.zip)` != "artifact.zip artifact1.zip artifact2.zip" ]]; then
            exit 1
          fi
