name: Update

on:
  workflow_dispatch:

concurrency:
  group: update

permissions: {}

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
          
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Run npm
        run: npm ci
          
      - name: Create PR
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.TOKEN }}
          delete-branch: true
          branch: node_modules
          commit-message: "node_modules: update"
          title: "node_modules: update"
