name: Uograde modules

on:
  workflow_dispatch:

concurrency:
  group: upgrade

permissions: {}

jobs:
  upgrade:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
          
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Run upgrade
        run: npm upgrade
          
      - name: Create PR
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.TOKEN }}
          delete-branch: true
          branch: node_modules-upgrade
          commit-message: "node_modules: upgrade"
          title: "node_modules: upgrade"
