name: Upload

on: push

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: artifact
          path: ./